jobs: 40
cluster: "sbatch --partition {resources.partition} -t {resources.time_min} --mem={resources.mem_mb} --cores {resources.cpus} -e slurm_logs/{rule}_{wildcards}%j.log -o slurm_logs/{rule}_{wildcards}%j.log -J {rule}"
default-resources: [partition="cpu_short",cpus=16, mem_mb=10000, time_min=120]